$color-black: #333333;
$color-darkgray: #414141;
$color-gray: #6E6E6E;
$color-lightgray: #ACACAC;
$color-white: #FFFFFF;
$color-ivory: #FCFCFC;
$color-red: #EA5548;
$color-pink: #EA5548;
$color-green: #316901;
$color-lightgreen: #B5E254;

$color-border: #414141;

$font-light: 300;
$font-bold: 700;
$font-black: 900;